<a href="https://colab.research.google.com/github/sparsh2002/ChatApp/blob/master/practicals/HousePricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Linear Regression, Ridge And Lasso

In [1]:
## house pricing dataset
from sklearn.datasets import load_boston

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot
%matplotlib inline

In [3]:
df = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [7]:
dataset = pd.DataFrame(df.data)
dataset.columns = df.feature_names
dataset.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [8]:
dataset['Price'] = df.target

In [9]:
dataset.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  Price
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98   24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14   21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03   34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94   33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33   36.2

[5 rows x 14 columns]

In [10]:
## Dividing the dataset into independent and dependent feature

In [11]:
X = dataset.iloc[: , : -1] ## independent features
y = dataset.iloc[:,-1] ## dependent feature

In [12]:
X.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO       B  LSTAT
0  0.00632  18.0   2.31   0.0  0.538  ...  1.0  296.0     15.3  396.90   4.98
1  0.02731   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  396.90   9.14
2  0.02729   0.0   7.07   0.0  0.469  ...  2.0  242.0     17.8  392.83   4.03
3  0.03237   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  394.63   2.94
4  0.06905   0.0   2.18   0.0  0.458  ...  3.0  222.0     18.7  396.90   5.33

[5 rows x 13 columns]

In [13]:
y.head()

0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
Name: Price, dtype: float64

In [33]:
from sklearn.model_selection import train_test_split

X_train,X_test, y_train , y_test = train_test_split(X,y , test_size=0.33 , random_state=42)

In [34]:
## Linear Regression 
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
lin_reg = LinearRegression()
mse = cross_val_score(lin_reg , X_train,y_train, scoring='neg_mean_squared_error' ,cv=5)
mean_mse = np.mean(mse)
print(mean_mse)

-25.187874739284958

In [35]:
## Ridge Regression
from sklearn.linear_model import Ridge
from sklearn.model_selection import GridSearchCV

ridge = Ridge()

params = {'alpha':[1e-15 , 1e-10,1e-5 , 1e-3,1e-2,1,5,10,20]}

ridge_regressor = GridSearchCV(ridge , params , scoring='neg_mean_squared_error' ,cv=5)

ridge_regressor.fit(X_train, y_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-05, 0.001, 0.01, 1, 5, 10,
                                   20]},
             scoring='neg_mean_squared_error')

In [36]:
print(ridge_regressor.best_params_)
print(ridge_regressor.best_score_)

{'alpha': 0.01}
-25.186899367386957

In [37]:
## Lasso Regression
from sklearn.linear_model import Lasso
lasso = Lasso()

params = {'alpha':[1e-15 , 1e-10,1e-5 , 1e-3,1e-2,1,5,10,20,30,40,50,45,60,100]}
lasso_regressor = GridSearchCV(ridge , params , scoring='neg_mean_squared_error' ,cv=10)

lasso_regressor.fit(X_train,y_train)

GridSearchCV(cv=10, estimator=Ridge(),
             param_grid={'alpha': [1e-15, 1e-10, 1e-05, 0.001, 0.01, 1, 5, 10,
                                   20, 30, 40, 50, 45, 60, 100]},
             scoring='neg_mean_squared_error')

In [38]:
lasso_regressor.best_params_

{'alpha': 0.01}

In [39]:
lasso_regressor.best_score_

-25.47206736336775

In [40]:
y_pred = lasso_regressor.predict(X_test)
from sklearn.metrics import r2_score

r2_score1 = r2_score(y_pred , y_test)
print(r2_score1)

0.6708743257533072

In [43]:
y_pred = ridge_regressor.predict(X_test)

r2_score2 = r2_score(y_pred , y_test)
print(r2_score2)

0.6708743257533072

In [45]:
lin_reg.fit(X_train,y_train)
y_pred = lin_reg.predict(X_test)

r2_score3 = r2_score(y_pred , y_test)
print(r2_score3)

0.6709558976744439